* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    
    margin: 0 auto;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    
}
.header {
    text-align: center;
    margin-bottom: 25px;
    background-color: #fdfdfd;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #c999af;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 50px;
    color: #000000;
}


.content,.content2,.content3, .content4{
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 35%;
    padding: 10px;
}
.center-column{
    width: 30%;
    padding: 10px;
}
.right-column {
    width: 35%;
    padding: 10px;
}
.left-column h2 {
    background-color: white ;
    color: white;  /* color de las bolitas */
    padding: 5px;
    margin-bottom: 30px;
    text-align:right;
    
    font-size: 1.5em;
    
}
.center-column h2 {
    background-color: #c999af;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    
}
.right-column h2 {
    background-color: white ;
    color: white;  /* color de las bolitas */
    padding: 5px;
    text-align: left;
    font-size: 1.5em;
    
}
.tooltip {
    position: relative;  /* Necesario para posicionar el texto emergente */
    cursor: pointer;    /* Muestra un cursor de tipo "apuntar" */
    color: #000000;      /* Color de la palabra sobre la que se pasa el cursor */
}

.tooltip-text {
    visibility: hidden;  /* Oculta el texto por defecto */
    background-color: rgba(0, 0, 0, 0.75); /* Fondo oscuro con algo de transparencia */
    color: #fff;         /* Color del texto */
    text-align: center;  /* Centra el texto */
    border-radius: 5px;  /* Bordes redondeados */
    padding: 1px;        /* Espaciado interno */
    position: absolute;  /* Posición absoluta para colocar el texto emergente */
    z-index: 1;          /* Asegura que el texto emergente quede sobre otros elementos */
    width: 300px;        /* Ancho fijo del tooltip */
    bottom: 100%;        /* Coloca el texto justo encima de la palabra */
    left: 50%;           /* Centra el texto sobre la palabra */
    margin-left: -100px; /* Ajusta para que el tooltip se centre correctamente */
    opacity: 0;          /* Hace que el tooltip sea invisible al principio */
    transition: opacity 0.3s ease; /* Transición suave para la aparición */
}

.tooltip:hover .tooltip-text {
    visibility: visible; /* Muestra el texto cuando el cursor está sobre la palabra */
    opacity: 1;          /* Hace visible el texto */
}